<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Teste Cognizant</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Teste Cognizant - Itaú", "Index", "Home", new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Lista de Usuarios", "ListarUsuarios", "Usuario")</li>
                </ul>
                @if (Session["UsuarioLogado"] != null)
                {
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Extrato", "Extrato", "Lancamento")</li>
                    </ul>

                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Deposito", "Depositar", "Lancamento")</li>
                    </ul>

                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Saque", "Sacar", "Lancamento")</li>
                    </ul>

                    <ul class="navbar-text pull-right">
                        <li>
                            Olá,
                            @Session["Nome"]
                            |
                            @Html.ActionLink("Editar Perfil", "AlterarUsuario", "Usuario")
                            |
                            @Html.ActionLink("Sair", "Logout", "Usuario")
                        </li>
                    </ul>
                }
                else
                {
                    <ul class="navbar-text pull-right">
                        <li>
                            @Html.ActionLink("Entrar", "Logar", "Usuario")
                            ou
                            @Html.ActionLink("Cadastre-se", "CadastrarUsuario", "Usuario")
                        </li>
                    </ul>
                }
            </div>            
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <br />
        <br />
        <br />

        <hr />
        <footer align="center">
            <p>&copy; 2019 • Teste Cognizant - Itaú • ASP.NET MVC5</p>
        </footer>
    </div>
    
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/inputmask")
    @RenderSection("scripts", required: false)
</body>
</html>
