@model TesteITAU.Models.Endereco

@{
    ViewBag.Title = "Cadastro Endereço";
}

<h2>Index</h2>


@using (Html.BeginForm("CadastrarEndereco", "Endereco", FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Endereco</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.Label("Usuarios", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @*   Chave estraingeira(declarada em Model.Endereco) - Propriedade a ser pega - Apresentação da propriedade escolhida para o usuário*@
            @Html.DropDownList("Usuario.Usuario_ID", new SelectList(ViewBag.Usuarios, "ID", "Nome"), "-- Selecione --", htmlAttributes: new { @class = "form-control", @Required = "True" })
        </div>
    </div>



    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(endereco => endereco.CEP, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(endereco => endereco.CEP, new { htmlAttributes = new { @class = "form-control", @required = "true" } })
            @Html.ValidationMessageFor(endereco => endereco.CEP, "", new { @class = "text-danger" })
            <div class="col-md-offset-3 col-md-10">
                <input type="button" value="Consultar" id="btnConsultar" class="btn btn-info" />
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(endereco => endereco.Logradouro, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(endereco => endereco.Logradouro, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
            @Html.ValidationMessageFor(endereco => endereco.Logradouro, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(endereco => endereco.Numero, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(endereco => endereco.Numero, new { htmlAttributes = new { @class = "form-control", @required = "true", @type = "number" } })
            @Html.ValidationMessageFor(endereco => endereco.Numero, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(endereco => endereco.Complemento, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(endereco => endereco.Complemento, new { htmlAttributes = new { @class = "form-control", @required = "true" } })
            @Html.ValidationMessageFor(endereco => endereco.Complemento, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(endereco => endereco.Bairro, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(endereco => endereco.Bairro, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
            @Html.ValidationMessageFor(endereco => endereco.Bairro, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(endereco => endereco.Cidade, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(endereco => endereco.Cidade, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
            @Html.ValidationMessageFor(endereco => endereco.Cidade, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(endereco => endereco.Estado, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(endereco => endereco.Estado, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
            @Html.ValidationMessageFor(endereco => endereco.Estado, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-3 col-md-10">
            <input type="submit" value="Concluir" class="btn btn-success" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>  

        $('#CEP').mask('00000-000');


        $(document).ready(function ()
        {
            $("#btnConsultar").click(function ()
            {
                $.ajax({
                    url: '@Url.Action("GetEndereco", "Endereco")',
                    type: "GET",
                    contentType: "application/json",
                    data: { cep: $("#CEP").val() },
                    success: function (result)
                    {
                        $("#Logradouro").val(result.Logradouro),
                        $("#Bairro").val(result.Bairro),
                        $("#Cidade").val(result.Cidade),
                        $("#Estado").val(result.Estado)
                    },
                    error: function (result)
                    {
                        alert(result)
                    }
                });
            });
        });

    </script>
}
