@model TesteITAU.Models.Lancamento

@{
    ViewBag.Title = "Depositar";
}

<h2>Depósito</h2>

@using (Html.BeginForm("Depositar", "Lancamento", FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Insira o valor da transação</h4>

        <div class="form-group">
            @Html.LabelFor(lancamento => lancamento.Valor, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(lancamento => lancamento.Valor, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(lancamento => lancamento.Valor, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
