@model TesteITAU.Models.Lancamento
@{
    ViewBag.Title = "Extrato";
}
<h2>Extrato - Ultimas Transações</h2>
<br />
<div class="col-md12" style="display: flex; flex-direction:column; justify-content: center;">
    @if (Session["ID"] != null)
    {
        <div class="col-md-5">
            @if (ViewBag.Conta == null)
            {
                <h1>R$ 0</h1>
                <h4>Saldo</h4>
            }
            else
            {
                <h1>R$ @ViewBag.Conta.Saldo</h1>
                <h4>Saldo</h4>
                <br />
                if (ViewBag.Lancamentos != null)
                {
                    <div class="col-md-12">
                        <table class="table table-hover">
                            <thead class="thread-dark">
                                <tr>
                                    <th>
                                        ID Transação
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(lancamento => lancamento.Data)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(lancamento => lancamento.Valor)
                                    </th>
                                </tr>
                            </thead>
                            @foreach (var lancamento in ViewBag.Lancamentos)
                            {
                                <tr>
                                    <td>
                                        @lancamento.ID
                                    </td>
                                    <td>
                                        @lancamento.Data
                                    </td>
                                    <td>
                                        @if (lancamento.Tipo == "e")
                                        {
                                            @(lancamento.Valor + "+")
                                        }
                                        else
                                        {
                                            @(lancamento.Valor + "-")
                                        }
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                }
                else
                {
                    <h3>Não existem lançamentos.</h3>
                }
            }
        </div>

        <br />
        <br />
    }
    else
    {
        <div class="col-md-5">
            <h1>R$ 0,00</h1>
            <h4>Saldo</h4>
        </div>
        <br />
        <h3>Não existem lançamentos.</h3>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}