@model TesteITAU.Models.Lancamento

@{
    ViewBag.Title = "Extrato";
}

<h2>Extrato - Ultimas Transações</h2>

<table class="table" align="center">
    <tr>
        <th>
            @Html.DisplayNameFor(lancamento => lancamento.Data)
        </th>
        <th>
            @Html.DisplayNameFor(lancamento => lancamento.Valor)
        </th>
        <th>
            @Html.DisplayNameFor(lancamento => lancamento.Conta.Saldo)
        </th>
        <th></th>
    </tr>

    @foreach (var lancamento in ViewBag.Lancamentos)
    {
        <tr>
            <td>
                @lancamento.Data
            </td>
            <td>
                @if (lancamento.Tipo == "e")
                {
                    @(lancamento.Valor + "+")
                }
                else
                {
                    @(lancamento.Valor + "-")
                }

            </td>
            <td>
                @lancamento.Conta.Saldo
            </td>
        </tr>
    }
</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
