@model TesteITAU.Models.Usuario

@{
    ViewBag.Title = "AlterarUsuario";
}

<h2>AlterarUsuario</h2>

@using (Html.BeginForm("AlterarUsuario", "Usuario", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Usuario</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            <div class="col-md-12">
                @Html.EditorFor(usuario => usuario.Nome, new { htmlAttributes = new { @class = "form-control", @required = "true", @placeholder = "Nome" } })
                @Html.ValidationMessageFor(usuario => usuario.Nome, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                @Html.EditorFor(usuario => usuario.Sobrenome, new { htmlAttributes = new { @class = "form-control", @required = "true", @placeholder = "Sobrenome" } })
                @Html.ValidationMessageFor(usuario => usuario.Sobrenome, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                @Html.EditorFor(usuario => usuario.Email, new { htmlAttributes = new { @class = "form-control", @required = "true", @placeholder = "E-mail" } })
                @Html.ValidationMessageFor(usuario => usuario.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                @Html.EditorFor(usuario => usuario.Telefone, new { htmlAttributes = new { @class = "form-control", @required = "true", @placeholder = "Telefone" } })
                @Html.ValidationMessageFor(usuario => usuario.Telefone, "", new { @class = "text-danger" })
            </div>
        </div>

        <br />
        <br />

        <h4>Dados de Acesso</h4>
        <hr />

        <div class="form-group">
            <div class="col-md-12">
                @Html.EditorFor(usuario => usuario.Login, new { htmlAttributes = new { @class = "form-control", @required = "true", @placeholder = "Login" } })
                @Html.ValidationMessageFor(usuario => usuario.Login, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                @Html.EditorFor(usuario => usuario.Senha, new { htmlAttributes = new { @class = "form-control", @required = "true", @type = "password", @placeholder = "Senha" } })
                @Html.ValidationMessageFor(usuario => usuario.Senha, "", new { @class = "text-danger" })
            </div>
        </div>

        <br />
        <br />

        <h4>Endereço</h4>
        <hr />

        <div class="form-group">
            <div class="col-md-12">
                <div class="col-md-3">
                    @Html.EditorFor(usuario => usuario.CEP, new { htmlAttributes = new { @class = "form-control", @required = "true", @placeholder = "CEP" } })
                    @Html.ValidationMessageFor(usuario => usuario.CEP, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-2">
                    <input type="button" value="Consultar" id="btnConsultar" class="btn btn-info" />
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                @Html.EditorFor(usuario => usuario.Logradouro, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @placeholder = "Logradouro" } })
                @Html.ValidationMessageFor(usuario => usuario.Logradouro, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                @Html.EditorFor(usuario => usuario.Numero, new { htmlAttributes = new { @class = "form-control", @required = "true", @placeholder = "Número" } })
                @Html.ValidationMessageFor(usuario => usuario.Numero, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                @Html.EditorFor(usuario => usuario.Complemento, new { htmlAttributes = new { @class = "form-control", @placeholder = "Complemento" } })
                @Html.ValidationMessageFor(usuario => usuario.Complemento, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                @Html.EditorFor(usuario => usuario.Bairro, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @placeholder = "Bairro" } })
                @Html.ValidationMessageFor(usuario => usuario.Bairro, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                @Html.EditorFor(usuario => usuario.Cidade, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @placeholder = "Cidade" } })
                @Html.ValidationMessageFor(usuario => usuario.Cidade, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                @Html.EditorFor(usuario => usuario.Estado, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @placeholder = "Estado - UF" } })
                @Html.ValidationMessageFor(usuario => usuario.Estado, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                <input type="submit" value="Confirmar" class="btn btn-success" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $('#Telefone').mask('(00)00000-0000');
        $('#CEP').mask('00000-000');


         $(document).ready(function () {
            $("#btnConsultar").click(function () {
                $.ajax({
                    url: '@Url.Action("GetEndereco", "Endereco")',
                    type: "GET",
                    contentType: "application/json",
                    data: { cep: $("#CEP").val() },
                    success: function (result) {
                        if (result.msg != null) {
                            alert(result.msg)
                        }
                        else {
                            $("#Logradouro").val(result.Logradouro),
                            $("#Bairro").val(result.Bairro),
                            $("#Cidade").val(result.Cidade),
                            $("#Estado").val(result.Estado)
                        }
                    },
                    error: function (result) {
                        alert(result.msg)
                    }
                });
            });
        });
    </script>
}
