@model TesteITAU.Models.Usuario

@{
    ViewBag.Title = "CadastrarUsuario";
}

<h2>CadastrarUsuario</h2>


@using (Html.BeginForm("CadastrarUsuario", "Usuario", FormMethod.Post))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Dados Pessoais</h4>
    <hr />

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(usuario => usuario.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(usuario => usuario.Nome, new { htmlAttributes = new { @class = "form-control", @required = "true" } })
            @Html.ValidationMessageFor(usuario => usuario.Nome, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(usuario => usuario.Sobrenome, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(usuario => usuario.Sobrenome, new { htmlAttributes = new { @class = "form-control", @required = "true" } })
            @Html.ValidationMessageFor(usuario => usuario.Sobrenome, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(usuario => usuario.Email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(usuario => usuario.Email, new { htmlAttributes = new { @class = "form-control", @required = "true" } })
            @Html.ValidationMessageFor(usuario => usuario.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(usuario => usuario.Telefone, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(usuario => usuario.Telefone, new { htmlAttributes = new { @class = "form-control", @required = "true" } })
            @Html.ValidationMessageFor(usuario => usuario.Telefone, "", new { @class = "text-danger" })
        </div>
    </div>

    <br />
    <br />

    <h4>Dados de Acesso</h4>
    <hr />

    <div class="form-group">
        @Html.LabelFor(usuario => usuario.Login, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(usuario => usuario.Login, new { htmlAttributes = new { @class = "form-control", @required = "true" } })
            @Html.ValidationMessageFor(usuario => usuario.Login, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(usuario => usuario.Senha, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(usuario => usuario.Senha, new { htmlAttributes = new { @class = "form-control", @required = "true", @type = "password" } })
            @Html.ValidationMessageFor(usuario => usuario.Senha, "", new { @class = "text-danger" })
        </div>
    </div>

    <br />
    <br />

    <h4>Endereco</h4>
    <hr />

    <div class="form-group">
        @Html.LabelFor(usuario => usuario.CEP, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(usuario => usuario.CEP, new { htmlAttributes = new { @class = "form-control", @required = "true" } })
            @Html.ValidationMessageFor(usuario => usuario.CEP, "", new { @class = "text-danger" })

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" value="Consultar" id="btnConsultar" class="btn btn-info" />
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(usuario => usuario.Logradouro, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(usuario => usuario.Logradouro, new { htmlAttributes = new { @class = "form-control", @required = "true" } })
            @Html.ValidationMessageFor(usuario => usuario.Logradouro, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(usuario => usuario.Numero, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(usuario => usuario.Numero, new { htmlAttributes = new { @class = "form-control", @required = "true" } })
            @Html.ValidationMessageFor(usuario => usuario.Numero, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(usuario => usuario.Complemento, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(usuario => usuario.Complemento, new { htmlAttributes = new { @class = "form-control", @required = "true" } })
            @Html.ValidationMessageFor(usuario => usuario.Complemento, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(usuario => usuario.Bairro, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(usuario => usuario.Bairro, new { htmlAttributes = new { @class = "form-control", @required = "true" } })
            @Html.ValidationMessageFor(usuario => usuario.Bairro, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(usuario => usuario.Cidade, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(usuario => usuario.Cidade, new { htmlAttributes = new { @class = "form-control", @required = "true" } })
            @Html.ValidationMessageFor(usuario => usuario.Cidade, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(usuario => usuario.Estado, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(usuario => usuario.Estado, new { htmlAttributes = new { @class = "form-control", @required = "true" } })
            @Html.ValidationMessageFor(usuario => usuario.Estado, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Confirmar" class="btn btn-success" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $('#Telefone').mask('(00)00000-0000');
        $('#CEP').mask('00000-000');


        $(document).ready(function ()
        {
            $("#btnConsultar").click(function ()
            {
                $.ajax({
                    url: '@Url.Action("GetEndereco", "Endereco")',
                    type: "GET",
                    contentType: "application/json",
                    data: { cep: $("#CEP").val() },
                    success: function (result)
                    {
                        $("#Logradouro").val(result.Logradouro),
                        $("#Bairro").val(result.Bairro),
                        $("#Cidade").val(result.Cidade),
                        $("#Estado").val(result.Estado)
                    },
                    error: function (result)
                    {
                        alert(result)
                    }
                });
            });
        });
    </script>
}
