@model TesteITAU.Models.Usuario

@{
    ViewBag.Title = "Lista Usuarios";
}

<h2>Lista Usuários</h2>

<table class="table" align="center">
    <tr>
        <th>
            @Html.DisplayNameFor(usuario => usuario.ID)
        </th>
        <th>
            @Html.DisplayNameFor(usuario => usuario.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(usuario => usuario.Sobrenome)
        </th>
        <th>
            @Html.DisplayNameFor(usuario => usuario.Email)
        </th>
        <th>
            @Html.DisplayNameFor(usuario => usuario.Telefone)
        </th>
        <th></th>
    </tr>

    @foreach (var usuario in ViewBag.Usuarios)
    {
    <tr>
        <td>
            @usuario.ID
        </td>
        <td>
            @usuario.Nome
        </td>
        <td>
            @usuario.Sobrenome
        </td>
        <td>
            @usuario.Email
        </td>
        <td>
            @usuario.Telefone
        </td>
    </tr>
    }
</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
