@model TesteITAU.Models.Usuario

@{
    /**/

    ViewBag.Title = "Home Page";
}

<h2>Login</h2>


@using (Html.BeginForm("Logar", "Usuario", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <br />

        <h4>Dados Pessoais</h4>

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-12">
                @Html.EditorFor(usuario => usuario.Login, new { htmlAttributes = new { @class = "form-control", @required = "true", @placeholder = "Login" } })
                @Html.ValidationMessageFor(usuario => usuario.Login, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                @Html.EditorFor(usuario => usuario.Senha, new { htmlAttributes = new { @class = "form-control", @required = "true", @type = "password", @placeholder = "Senha" } })
                @Html.ValidationMessageFor(usuario => usuario.Senha, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            <input type="submit" value="Login" class="btn btn-success" />
        </div>
    </div>
}


